# Read Dataset

In [2]:
import pandas as pd
A = pd.read_csv("C:/Users/shaik/Downloads/training_set (2).csv")

In [3]:
A.head(3)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849.0,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,NaN,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000.0,0.0,66.0,360.0,1.0,Urban,Y

# Missing Data treatment

In [4]:
from PM8wd import replacer
replacer(A)

# Define X and Y

In [5]:
Y = A[["Loan_Status"]]
X = A.drop(labels=["Loan_ID","Loan_Status"],axis=1)

# EDA
Ycat,Xcon --> ANOVA

Ycat,Xcat --> chisquare

# Divide data in con and cat

In [6]:
cat = []
con = []
for i in X.columns:
    if(X[i].dtypes == "object"):
        cat.append(i)
    else:
        con.append(i)

In [7]:
from PM8n import ANOVA,chisquare

for i in con:
    print("--------","Loan_Status vs",i,"-------")
    print(ANOVA(A,"Loan_Status",i))

-------- Loan_Status vs ApplicantIncome -------
0.903
-------- Loan_Status vs CoapplicantIncome -------
0.142
-------- Loan_Status vs LoanAmount -------
0.368
-------- Loan_Status vs Loan_Amount_Term -------
0.604
-------- Loan_Status vs Credit_History -------
0.0

In [8]:
chisquare

In [9]:
for i in cat:
    print("--------","Loan_Status vs",i,"-------")
    print(chisquare(A,"Loan_Status",i))

-------- Loan_Status vs Gender -------
0.7391461310869638
-------- Loan_Status vs Married -------
0.029608580862582116
-------- Loan_Status vs Dependents -------
0.3688663081366005
-------- Loan_Status vs Education -------
0.04309962129357355
-------- Loan_Status vs Self_Employed -------
0.9710746411403309
-------- Loan_Status vs Property_Area -------
0.0021360187811644915

# Outliers Removing

In [10]:
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()

In [11]:
ss.fit(X[con])

StandardScaler()

In [12]:
X1 = pd.DataFrame(ss.transform(X[con]),columns=con)

In [13]:
X1.head(2)

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
0,0.072651,-0.554368,0.000000,0.279851,0.45164
1,0.000000,-0.038610,-0.219273,0.279851,0.45164

In [14]:
from PM8wd import outliers
OL = outliers(X1)

In [15]:
X = X.drop(index=OL,axis=0)
Y = Y.drop(index=OL,axis=0)

In [16]:
X.index = range(0,X.shape[0])
Y.index = range(0,Y.shape[0])

# Preprocessing

In [17]:
from PM8wd import preprocessing
Xnew = preprocessing(X)

In [18]:
Xnew

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_Female,Gender_Male,Married_No,Married_Yes,Dependents_0,Dependents_1,Dependents_2,Dependents_3+,Education_Graduate,Education_Not Graduate,Self_Employed_No,Self_Employed_Yes,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
0,0.398479,-0.860843,0.184585,0.239408,0.456461,0,1,1,0,1,0,0,0,1,0,1,0,0,0,1
1,0.248823,0.053073,-0.143355,0.239408,0.456461,0,1,0,1,0,1,0,0,1,0,1,0,1,0,0
2,-0.562989,-0.860843,-1.247642,0.239408,0.456461,0,1,0,1,1,0,0,0,1,0,0,1,0,0,1
3,-0.703717,0.568211,-0.285844,0.239408,0.456461,0,1,0,1,1,0,0,0,0,1,1,0,0,0,1
4,0.449438,-0.860843,0.088189,0.239408,0.456461,0,1,1,0,1,0,0,0,1,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
572,-0.596737,-0.860843,-1.158587,0.239408,0.456461,1,0,1,0,1,0,0,0,1,0,1,0,1,0,0
573,-0.189741,-0.860843,-1.710730,-3.237229,0.456461,0,1,0,1,0,0,0,1,1,0,1,0,1,0,0
574,1.148688,-0.715392,2.083030,0.239408,0.456461,0,1,0,1,0,1,0,0,1,0,1,0,0,0,1
575,0.983662,-0.860843,0.907499,0.239408,0.456461,0,1,0,1,0,0,1,0,1,0,1,0,0,0,1
576,-0.028765,-0.860843,-0.054300,0.239408,-2.372488,1,0,1,0,1,0,0,0,1,0,0,1,0,1,0

Train and Test the data

In [19]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(Xnew,Y,test_size=0.2,random_state=21)

Making Decision Tree Classifier

In [20]:
from sklearn.tree import DecisionTreeClassifier
dtc = DecisionTreeClassifier(criterion="entropy",random_state=21,max_depth=2)
model = dtc.fit(xtrain,ytrain)
pred_tr = model.predict(xtrain)
pred_ts = model.predict(xtest)

Finding the accuracy score

In [21]:
from sklearn.metrics import accuracy_score
tr_acc = accuracy_score(ytrain,pred_tr)
ts_acc = accuracy_score(ytest,pred_ts)

In [22]:
tr_acc

0.8134490238611713

In [23]:
ts_acc

0.8362068965517241

In [24]:
Xnew.shape

(577, 20)

# Tree model

In [25]:
X = X[["Credit_History","CoapplicantIncome","Property_Area","Education","Married"]]

In [26]:
Xnew = preprocessing(X)

In [27]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(Xnew,Y,test_size=0.2,random_state=21)

In [28]:
Xnew.shape

(577, 9)

In [29]:
from sklearn.tree import DecisionTreeClassifier
dtc = DecisionTreeClassifier(criterion="entropy",random_state=21,max_depth=2)
model = dtc.fit(xtrain,ytrain)
pred_tr = model.predict(xtrain)
pred_ts = model.predict(xtest)
from sklearn.metrics import accuracy_score

tr_acc = accuracy_score(ytrain,pred_tr)
ts_acc = accuracy_score(ytest,pred_ts)

In [30]:
tr_acc

0.8134490238611713

In [31]:
ts_acc

0.8362068965517241

making random forest tree

In [32]:
from warnings import filterwarnings
filterwarnings("ignore")

In [33]:
from sklearn.ensemble import RandomForestClassifier
dtc = RandomForestClassifier(criterion="entropy",random_state=21,max_depth=3)
model = dtc.fit(xtrain,ytrain)
pred_tr = model.predict(xtrain)
pred_ts = model.predict(xtest)

In [34]:
from sklearn.metrics import accuracy_score
tr_acc = accuracy_score(ytrain,pred_tr)
ts_acc = accuracy_score(ytest,pred_ts)

In [35]:
tr_acc

0.8134490238611713

In [36]:
ts_acc

0.8448275862068966

In [37]:
from sklearn.ensemble import RandomForestClassifier
dtc = RandomForestClassifier(criterion="entropy",random_state=21,max_depth=3)
model = dtc.fit(xtrain,ytrain)
pred_tr = model.predict(xtrain)
pred_ts = model.predict(xtest)

In [38]:
from sklearn.metrics import accuracy_score
tr_acc = accuracy_score(ytrain,pred_tr)
ts_acc = accuracy_score(ytest,pred_ts)

In [39]:
tr_acc

0.8134490238611713

In [40]:
ts_acc

0.8448275862068966

# Gridsearch CV

In [41]:
tuning_grid = {"max_depth":range(2,5,1),"criterion":["gini","entropy"],"n_estimators":range(20,30,1)}

In [42]:
from sklearn.model_selection import GridSearchCV
rfc = RandomForestClassifier(random_state=21)
cv = GridSearchCV(rfc,tuning_grid,scoring="accuracy",cv=4)

cvmodel = cv.fit(xtrain,ytrain)

In [43]:
cvmodel.best_params_

{'criterion': 'gini', 'max_depth': 2, 'n_estimators': 20}

In [44]:
rfc = RandomForestClassifier(criterion='gini', max_depth=2, n_estimators= 20,random_state=21)

In [45]:
model = rfc.fit(xtrain,ytrain)
pred_tr = model.predict(xtrain)
pred_ts = model.predict(xtest)
from sklearn.metrics import accuracy_score
tr_acc = accuracy_score(ytrain,pred_tr)
ts_acc = accuracy_score(ytest,pred_ts)

In [46]:
tr_acc

0.8112798264642083

In [47]:
ts_acc

0.8448275862068966

# Getting Data ready for predictions

In [50]:
B = pd.read_csv("C:/Users/shaik/Downloads/testing_set (2).csv")

In [51]:
B1 = B[X.columns].head()

In [52]:
B1

   Credit_History  CoapplicantIncome Property_Area     Education Married
0             1.0                  0         Urban      Graduate     Yes
1             1.0               1500         Urban      Graduate     Yes
2             1.0               1800         Urban      Graduate     Yes
3             NaN               2546         Urban      Graduate     Yes
4             1.0                  0         Urban  Not Graduate      No

# Missing Data treatment

In [53]:
B1.isna().sum()

Credit_History       1
CoapplicantIncome    0
Property_Area        0
Education            0
Married              0
dtype: int64

In [56]:
replacer(B)

In [57]:
cat = []
con = []
for i in B.columns:
    if(B[i].dtypes == "object"):
        cat.append(i)
    else:
        con.append(i)

In [58]:
B1 = pd.DataFrame(ss.transform(B[con]),columns=con)
B2 = pd.get_dummies(B[cat])
Bnew = B1.join(B2)

In [59]:
ready_for_pred = Bnew[Xnew.columns]

In [60]:
ready_for_pred

,Credit_History,CoapplicantIncome,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban,Education_Graduate,Education_Not Graduate,Married_No,Married_Yes
0,0.451640,-0.554368,0,0,1,1,0,0,1
1,0.451640,-0.041346,0,0,1,1,0,0,1
2,0.451640,0.061259,0,0,1,1,0,0,1
3,-0.047954,0.316402,0,0,1,1,0,0,1
4,0.451640,-0.554368,0,0,1,0,1,1,0
...,...,...,...,...,...,...,...,...,...
362,0.451640,0.053392,0,0,1,0,1,0,1
363,0.451640,-0.311879,0,0,1,1,0,0,1
364,-0.047954,0.127267,0,1,0,1,0,1,0
365,0.451640,0.264073,1,0,0,1,0,0,1
366,0.451640,-0.554368,1,0,0,1,0,1,0

In [62]:
predicted_final = model.predict(ready_for_pred)

In [63]:
E = pd.DataFrame([B.Loan_ID,predicted_final]).T

In [64]:
E.columns = ["Loan_ID","Loan_Status"]

In [65]:
E.to_csv("submission.csv")

In [66]:
E

      Loan_ID Loan_Status
0    LP001015           Y
1    LP001022           Y
2    LP001031           Y
3    LP001035           Y
4    LP001051           Y
..        ...         ...
362  LP002971           Y
363  LP002975           Y
364  LP002980           Y
365  LP002986           Y
366  LP002989           Y

[367 rows x 2 columns]